<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="#"></a>
            </li>
            <li class="active">
                <strong></strong>
            </li>
        </ol>
    </div>
</div>